@font-face {
    font-family: "StencilGothic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/stencilgothic-webfont.woff2") format("woff2"),
         url("../fonts/stencilgothic-webfont.woff") format("woff"),
         url("../fonts/StencilGothic.ttf") format("truetype");
}
