@import url('//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Owl Carousel */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height .5s ease-in-out;-moz-transition:height .5s ease-in-out;-ms-transition:height .5s ease-in-out;-o-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity .4s ease;-moz-transition:opacity .4s ease;-ms-transition:opacity .4s ease;-o-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale .1s ease;-moz-transition:scale .1s ease;-ms-transition:scale .1s ease;-o-transition:scale .1s ease;transition:scale .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity .4s ease;-moz-transition:opacity .4s ease;-ms-transition:opacity .4s ease;-o-transition:opacity .4s ease;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}


/* Custom About Page */
.about-page-container {
	margin-bottom: -28px;
}
.about-banner {
	margin: 0;
	padding: 0;
}
.banner_in {
	margin: 0;
	padding: 0;
}
.banner_in figure {
	margin: 0;
	padding: 0;
}
.banner_in figure img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.our-story-container {
	margin: 0;
	padding: 0;
}
.our_in {
	margin: 0;
	padding: 0;
}
.story {
	margin: 0 auto;
	padding: 0 183px 0 0;
	width: 840px;
	display: block;
}
.story_in {
	margin: -60px 0 0 0;
	padding: 0;
	background: #fbf1f0;
	position: relative;
}
.story_in h1 {
	margin: 0;
	padding: 0 0px 0px 0px;
	font-family: StencilGothic, sans-serif;
	font-size: 68px;
	line-height: 78px;
	font-weight: normal;
	color: #000000;
}
.story_in p {
	margin: 0;
	padding: 0 0px 31px 0px;
	background: none;
	font-family: Futura-Book, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
	position: relative;
	z-index: 1;
}
.story_in p a {
	color: #000000;
	text-decoration: underline;

	&[href="#babes-babes-babes"]:hover {
		color: #e9b3b3;
	}
}
.story1 {
	margin: 0;
	padding: 62px 58px 6px 58px;
	position: relative;
}
.sod1 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -299px;
	top: 60px;
}
.sod2 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -25px;
	top: -7px;
}
.sod3 {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -209px;
	top: 74px;
}
.dec {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -64px;
	top: 80px;
}
.bon {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -100px;
	top: 236px;
}
.book {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -76px;
	bottom: 21px;
}
.arrow {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -146px;
	bottom: -7px;
}
.crazy {
	margin: 0;
	padding: 89px 54px 70px 70px;
	background: url(../img/about/orange_bg.jpg) no-repeat left top;
	background-size: cover;
	position: relative;
}
.crazy:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(227, 87, 55, 0.60);
	top: 0;
	left: 0;
}
.crazy p {
	margin: 0;
	padding: 0 0 40px 0;
	font-family: Futura-Bold, Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 34px;
	color: #ffffff;
	letter-spacing: 1.5px;
}
.crazy strong {
	margin: 0;
	padding: 0;
	font-family: Futura-Bold, Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	float: left;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.vanity-fair { letter-spacing: 2.4px; }
.crazy a {
	margin: 0;
	padding: 0;
	font-family: Futura-Bold, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	letter-spacing: 1px;
	float: right;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: black;
	}
}
.crazy a span {
	margin: 0 0 0 6px;
}
.blocks {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -145px;
	top: 110px;
}
.love {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -102px;
	top: 72px;
}
.philosophy {
	position: relative;
	padding: 87px 58px 14px 58px;

	@media (min-width: 551px) {
		h2 br {
			display: none;
		}
	}
}
.story h2 {
	margin: 0;
	padding: 0 0px 23px 0px;
	font-family: Futura-Bold, Arial, Helvetica, sans-serif;
	font-size: 48px;
	line-height: 57px;
	color: #000000;
	font-weight: normal !important;
	position: relative;
	z-index: 2;
}
.biscuit {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -302px;
	top: -145px;
}
.stamp2 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -34px;
	top: 7px;
}
.story_2nd ul {
	display: inline-block;
	width: 100%;
}
.story_2nd ul li {
	width: 100%;
	padding: 0 0px 0 0;
}
.cele_blk {
	margin: 0px;
	padding: 0 0 0 0;
	width: 100%;
	display: inline-block;
}
.cele_blk img {
	width: 100%;
	height: auto;
}
.story_2nd .owl-prev {
	font-size: 0px;
	width: 30px;
	height: 30px;
	background: url(../img/about/ui-arrow-left.svg) no-repeat left top / cover;
	border-radius: 100%;
	top: 51%;
	left: -18px;
	position: absolute;
	z-index: 999;
	display: block !important;
	margin-top: -19px;

	&:hover {
		width: 30px;
		height: 30px;
		background: url(../img/about/ui-arrow-left.svg) no-repeat right top / cover;
	}
}
.story_2nd .owl-next {
	font-size: 0px;
	width: 30px;
	height: 30px;
	background: url(../img/about/ui-arrow-right.svg) no-repeat left top / cover;
	top: 51%;
	right: -12px;
	position: absolute;
	z-index: 999;
	display: block !important;
	margin-top: -19px;
	border-radius: 100%;

	&:hover {
		background: url(../img/about/ui-arrow-right.svg) no-repeat right top / cover;
	}
}
.story_2nd {
	margin: 0 auto;
	padding: 0 145px 0 0;
	width: 806px;
	display: block;
}
.story_2nd .story_in {
	margin: 0 0 0 -55px;
}
.arrow_2 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -115px;
	top: -47px;
}
.spoon {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -237px;
	top: 85px;
}
.story_3rd .story_in {
	margin: 0 0 0 0px;
}
.story_3rd .story1 {
	padding: 76px 58px 6px 58px;
}
.story_3rd .story_in p {
	padding: 0 0px 41px 0px;
}
.love2 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -66px;
	top: 16px;
}
.clock {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -199px;
	top: 78px;
}
.bon_pic {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -207px;
	bottom: 0;
}
.bag {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -484px;
	bottom: 0;
}
.story_in figure img {
	width: 100%;
	height: auto;
}
ul.owl-carousel { margin-left: 0; margin-bottom: 0; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.accordion ul li h4:after {
		line-height: 24px !important;
	}
}
@supports (-ms-ime-align:auto) {
	.accordion ul li h4:after {
		line-height: 24px !important;
	}
}

@media only screen and (max-width:1300px) {
	.text {width: calc(100% - 68px);}
	.event_lft figure img {width: 100%;height: auto;}
}
@media only screen and (max-width:1170px) {
	.bag {right: -484px;}
	.tabs_nav ul li a {margin: 0 26px 0 0;}
	.sh1 img{width: 170px;height: auto;}
}
@media only screen and (max-width:991px) {
	.story {padding: 0 100px 0 0;width: 90%;}
	.story_2nd .story_in {margin: 0 0 0 -21px;}
	.story_2nd{width: 95%;}
	.stamp img{width:192px;height: auto;}
	.story_in h1 {font-size: 53px;line-height: 67px;}
	.crazy {padding: 48px 54px 48px 70px;}
	.philosophy {padding: 44px 35px 14px 35px;}
	.stamp2 img{width: 150px;height: auto;}
	.story h2 {font-size: 45px;line-height: 45px;}
	.story_in p {padding: 0 0px 20px 0px;}
	.story_2nd .story_in  {margin: 0 0 0 5px;}
	.tabs_nav h2 {font-size: 45px;line-height: 52px;}
	.tabs_nav ul li a {margin: 0 12px 0 0;font-size: 18px;line-height: 22px;}
	.tabs ul li.active a {border-bottom: 6px solid #e35737;}
	.tabs_nav {margin: 0 0 25px 0;}
	.question {padding: 25px 0 121px 0;}
	.question_cnt {padding: 41px 35px 50px 35px;}
	.question {padding: 25px 0 60px 0;}
	.ship {padding: 0 0 60px 0;}
	.accordian {padding: 0 0 59px 0;}
	.event_lft {width: 45.5%;}
	.event_rgt {padding: 9px 0px 30px 5px;width: 54.5%;}
	.event_lft p {padding: 0px 10px 15px 0px;}
	.event_rgt ul li label{letter-spacing:0px;}
	.position2 .dd .ddTitle .ddTitleText {padding: 20px 10px 20px 10px;} .position2 .ddcommon .ddArrow{right: 7px;}
	.ship_rgt {padding: 25px 25px 25px 25px;}
	.event {padding: 0 0 25px 0;}
}
@media only screen and (max-width:767px) {
	.biscuit {
	    top: 0;
	}
	.story_in {margin: 30px 0 0 0;}
	.story1 {padding: 35px 25px 6px 25px;}
	.story {padding: 0 0px 0 0;}
	.sod1 { top: -10px; }
	.sod2 img{width: 120px;height: auto;}
	.dec {right: -20px;top: 37px;}
	.bon{display: none;}
	.book {bottom: -90px;z-index: 1;}
	.crazy {padding: 48px 30px 48px 30px;text-align: center;}
	.crazy a{float: none;}
	.crazy strong{float: none;display: block;margin: 0 0 20px 0;}
	.story_2nd {width: 100%;}
	.story_2nd .story_in{margin: 0;}
	.story_2nd .owl-next{right: 15px;}
	.story_2nd .owl-prev{left: 15px;}
	.soc ul {float: none;}
	.soc {padding:25px 10px 18px;}
	.soc ul li {padding: 0 26px 0 0px;}

	.stamp ,.logo{display: none;}

	.tab_blk h3.hide_class{display: block;cursor: pointer;}
	.tab_blk h3.show_class ,.tabs_nav ul ,.q1 ,.q2 ,.event_lft figure{display: none;}
	.tabs {padding: 40px 0 40px 0;}
	.tabs_nav h2{text-align: center;}
	.tabs_nav {border: none;margin: 0;}
	.question_cnt {padding:15px 13px 30px 13px;}
	.question_lft ,.ship_lft ,.question_rgt ,.ship_rgt{width: 100%;}
	.question_rgt p{padding: 0;}
	.question {padding: 25px 0 25px 0;}
	.ship_lft p {padding: 0 0px 16px 0px;}
	.ship_rgt {padding: 20px 0px 20px 0px;margin: 10px 0 0 0;}
	.ship ,.accordian {padding: 0 0 25px 0;}
	.content {padding: 25px 0px 30px 0px;}
	.event_lft{width: 100%;padding:0 0 10px 0;}
	.event_lft p {padding: 0px 0px 15px 0px;}
	.event_lft figure img {width: auto;}
	.event_rgt {padding: 9px 0px 0px 0px;width: 100%;}
	.event_rgt ul li {margin: 0 0 20px 0;}
	.event {padding: 0 0 10px 0;}
	.question figure {margin: 0 -20px 0 -20px;}
	.question_cnt ,.ship_rgt ,.content{background: none;}
	.accordian ul {padding: 21px 15px 0 15px;}
	.content ul{padding: 0;}
	.ship h3 ,.ship h4 {padding: 0 9px 15px 9px;}
	.ship_cnt ,.event_cnt {padding: 0 10px;}
	.ship_lft p.para{padding: 0;}
	.acc{display: none ;padding: 20px 0;border-bottom: 2px solid #000;}
	.acc4{border: none;}
	.sh1{display: none;}
	.question ,.ship, .accordian {padding: 0;}
	.acc{padding: 20px 0;border-bottom: 2px solid #000;}
}
@media only screen and (min-width:768px) {
	.acc{display: block !important;}
}
@media only screen and (max-width: 767px) {
	.story1 p { font-size: 14px; line-height: 20px; }
}
@media only screen and (max-width:599px) {
	.story_in h1 {font-size: 40px;line-height: 50px;}
	.story1 {padding: 20px 25px 6px 25px;}
	.crazy p {font-size: 22px;line-height: 32px;}
	.story h2 {font-size: 36px;line-height: 40px;padding: 0 0 10px 0;}   .story_3rd .story1 {padding: 40px 25px 6px 25px;}
	.story_3rd .story_in p { padding: 0 0px 30px 0px;}
	.love2 img{width: 300px;height: auto;}
	.tabs_nav h2 {font-size: 40px;line-height: 40px;padding:0 0 23px 0;}
	.event_rgt ul li{width: 100%;}
	.accordian ul li h4 {font-size: 16px;}
	.crazy span strong { font-size: 16px; }
	.vanity-fair, .crazy .scroller { display: block; margin-bottom: 30px; }
}
@media only screen and (max-width:479px) {
	.story_in h1 {font-size: 30px;line-height: 40px; margin-bottom: 20px;}
	.crazy {padding: 30px 20px 30px 20px;}
	.story h2 {font-size: 30px;line-height: 35px;}
	.story_in p {padding: 0 0px 10px 0px;}
	.logo1 a {font-size: 21px;}
	.tabs_nav h2 {font-size: 30px;line-height: 30px;}
	.tabs {padding: 30px 0 30px 0;}
	.question_lft ul li {padding: 0 0 11px 0;}
	.question_cnt {padding: 0px 13px 20px 13px;}
	.tab_blk h3 {font-size: 25px;}
	.ship h4 {font-size: 18px;line-height: 27px;}
	.content ul li {width: 100%;float: none;vertical-align: top;font-size: 0px;line-height: 0px;}
}

.about-babes-figure {
	position: relative;

	@media (min-width: 551px) {
		&::after {
			content:          '';
			position:         absolute;
			bottom:           0;
			right:            -558px;
			display:          block;
			width:            558px;
			height:           880px;
			background-image: url('../img/about/bag.png');
		}
	}
}
