// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
//
// -----------------------------------------------------------------------------

.footer {
    background-color:    $footer-background;
    padding:             spacing("double") 0 6rem;
    background-image:    url("../img/footer/stamp-footer-good-people.png"),
                         url("../img/footer/stamp-footer-builder-hamtown.png"),
                         url("../img/footer/stamp-footer-circle-bons.png"),
                         url("../img/footer/texture-cardboard@2x.jpg");
    background-repeat:   no-repeat, no-repeat,  no-repeat, repeat;
    background-position: 14% 14rem, 93% -3rem,  74% 15rem, center;
    background-size:     auto,      auto,       auto,      50%;

    @media (max-width: 771px) {
        background-position: -2rem 25rem, 126% -10rem, 115% 9rem, center;
        background-size:      auto,       33%,         21%,       50%;
    }

    @media (max-width: 551px) {
        background-position: 9rem 2rem, 120% 50rem, -5rem 55rem, center;
        background-size:     70%,       55%,        44%,         50%;
    }
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    margin-top:     0;
    font-family:    Futura-Bold;
    font-size:      fontSize("base");
    font-weight:    normal;
    text-transform: inherit;
    color:          $footer-heading-fontColor;
    color:          white;
}

.footer .container {
    display:         flex;
    justify-content: space-between;

    @media (max-width: 991px) {
        flex-wrap: wrap;
    }
}

.footer-info-list {
    display:        block;
    width:          100%;
    margin-left:    0;
    margin-bottom:  0;
    list-style:     none;

    @media (max-width: 551px) {
        margin-bottom: 31px;
    }

    a {
        font-family:     Futura-Bold;
        font-size:       14px;
        font-weight:     normal;
        text-decoration: none;
        text-transform:  uppercase;
        letter-spacing:  0;
        line-height:     26px;
        color:           #FFFFFF;

        // scss-lint:disable NestingDepth
        &:hover {
            color: black;
        }
        // scss-lint:enable NestingDepth
    }
}

@media (min-width: 551px) and (max-width: 771px) {
    .footer-navigation-container {
        flex-basis: 30%;
    }
}

.footer-addresses-container {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    height:          auto;
    // margin-right:    -2%;
    font-family:     Futura-Bold;
    color:           white;

    @media (min-width: 552px) and (max-width: 771px) {
        flex-basis: 30%;
    }

    @media (max-width: 551px) {
        padding-bottom: 2rem;
        flex-basis:     100%;
    }

    > div {
        > p:first-child {
            font-size:      14px;
            letter-spacing: 1px;
            margin-bottom:  8px;
        }

        > p:last-child {
            font-size:      12px;
            letter-spacing: 1px;
            line-height:    17px;
            margin-bottom:  0;
        }

        @media (max-width: 551px) {
            &:last-child {
                margin-top: 2rem;
            }
        }
    }
}

.footer-contact-container {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    height:          auto;
    padding-left:    3%;
    font-family:     Futura-Bold;
    color:           white;
    border-left:     solid 2px white;

    @media (min-width: 551px) and (max-width: 771px) {
        flex-basis: 30%;

        a {
            display:    inherit;
            word-break: break-all;
        }
    }

    @media (max-width: 771px) {
        padding-left: 5%;
    }

    @media (max-width: 551px) {
        padding-left: 0;
        padding-top:  2rem;
        border-left:  none;
        border-top:   solid 2px;
        flex-basis:   100%;
    }

    > div {
        > p:first-child,
        h5 {
            font-size:      14px;
            font-weight:    normal;
            letter-spacing: 1px;
            margin-bottom:  8px;
        }

        a {
            font-size:       12px;
            letter-spacing:  1px;
            line-height:     17px;
            text-decoration: none;
            color:           white;

            &:hover {
                text-decoration: none;
                color:           black;
            }
        }

        > p:last-child {
            font-size:      12px;
            letter-spacing: 1px;
            line-height:    18px;
            margin-bottom:  0;
        }

        .footer-info-heading ~ p {
            margin-bottom: 0;
            font-size:     1rem;
        }

        @media (max-width: 551px) {
            &:last-child {
                margin-top: 2rem;
            }
        }
    }

    > div:first-child {
        > p:nth-child(2) {
            margin-bottom: 0;
        }
    }
}

.footer-newsletter-container {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    height:          auto;

    @media (max-width: 991px) {
        margin-top:     5rem;
    }

    @media (max-width: 771px) {
        flex-basis:     100%;
        flex-direction: row;
        flex-wrap:      wrap;
        align-items:    center;
    }

    @media (max-width: 551px) {
        margin-top: 3rem;
    }

    form,
    .form-field {
        margin-bottom: 0;
    }

    #nl_email {
        height:           51px;
        border-radius:    0;
        background-color: white;

        &:focus {
            border: solid #E9B3B3 3px;
        }
    }

    #nl_email::-webkit-input-placeholder {
        font-family:    Futura-Bold;
        font-size:      16px;
        font-weight:    normal;
        letter-spacing: 0;
        color:          #C6AA82;
    }

    #nl_email:-ms-input-placeholder {
        font-family:    Futura-Bold;
        font-size:      16px;
        font-weight:    normal;
        letter-spacing: 0;
        color:          #C6AA82;
    }

    #nl_email:-moz-placeholder {
        font-family:    Futura-Bold;
        font-size:      16px;
        font-weight:    normal;
        letter-spacing: 0;
        color:          #C6AA82;
    }

    #nl_email::-moz-placeholder {
        font-family:    Futura-Bold;
        font-size:      16px;
        font-weight:    normal;
        letter-spacing: 0;
        color:          #C6AA82;
    }

    #nl_email::placeholder {
        font-family:    Futura-Bold;
        font-size:      16px;
        font-weight:    normal;
        letter-spacing: 0;
        color:          #C6AA82;
    }

    input.button {
        width:                     73px;
        height:                    51px;
        margin-left:               0;
        border-bottom-left-radius: 0;
        border-top-left-radius:    0;
        color:                     transparent;
    }

    .form-prefixPostfix {
        position: relative;

        &::after {
            content:             '';
            display:             block;
            position:            absolute;
            top:                 0;
            right:               0;
            width:               73px;
            height:              51px;
            color:               white;
            background-image:    url("../img/footer/icon-smile.svg");
            background-repeat:   no-repeat;
            background-position: center;
            pointer-events:      none;
            z-index:             5;

            input.button {
                margin-top: 0 !important;
            }
        }
    }
}

.footer-copyright {
    text-align:     right;
    text-transform: uppercase;

    @media (max-width: 771px) {
        flex-basis: 100%;
        margin-top: 2rem;
        text-align: left;
    }

    @media (max-width: 551px) {
        margin-top: 1.5rem;
    }

    > .powered-by {
        margin:      0;
        font-family: Futura-Bold;
        font-size:   fontSize("tiny");
        font-weight: normal;
        color:       stencilColor("color-textSecondary");
        color:       white;
    }

    a {
        color: stencilColor("color-textSecondary");
        color: white;
        text-decoration: none;

        // scss-lint:disable NestingDepth
        &:hover {
            color: stencilColor("color-textSecondary--hover");
            color: black;
        }
        // scss-lint:enable NestingDepth
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-geotrust-ssl-seal {
    @include breakpoint("small") {
        bottom: 0;
        position: absolute;
        right: 16px;
    }

    table {
        margin: auto;
    }
}

.footer-address-container {
    flex-basis: 25%;

    @media (max-width: 551px) {
        margin-bottom: 32px;
    }

    h5 {
        margin-top: 30px;
    }

    h5,
    p,
    strong {
        font-family:    Futura-Bold;
        font-size:      14px;
        font-weight:    normal;
        letter-spacing: 0;
        line-height:    18px;
        margin-bottom:  0;
        color:          #FFFFFF;
    }

    p {
        font-size: 12px;
    }

    a {
        color:            inherit;
        background-color: inherit;
        line-height:      inherit;
        text-decoration:  none;

        &:hover,
        &:active {
            color:           black;
            text-decoration: none;
        }
    }
}

.footer-social-links-container {
    & > .socialLinks { text-align: right; }

    @media (max-width: 771px) {
        margin-right: 4.4rem;
    }

    @media (max-width: 551px) {
        margin-right: 0;
        margin-top:   1.5rem;
    }
}


.footer-newsletter-container {
    input.button { margin-top: 0; }

    @media (max-width: 551px) {
        width: 100%;
    }
}
