// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    margin-bottom: spacing("single");

    font-family: Futura-Book;
    font-size:   18px;
    line-height: 26px;
    color:       #000000;

    @media (max-width: 551px) {
        font-size:   14px;
        line-height: 20px;
    }

    h3 {
        font-family: Futura-Bold;
        font-size:   30px;
        font-weight: normal;
        line-height: 36px;
        color:       #000000;

        @media (max-width: 551px) {
            font-size:   24px;
            line-height: 30px;
        }
    }
}

.account--fixed {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(8, $total-columns);
    }
}

.account--fixedSmall {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(6, $total-columns);
    }
}

.account--fixedLarge {
    @include breakpoint("medium") {
        margin: 0 auto;
        width: grid-calc(9, $total-columns);
    }
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account-body {
    @include grid-row($behavior: "nest");
}

.account-content {
    @include grid-column(12);
}

.account-content--fixed {

    @include breakpoint("medium") {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    @include grid-column(12);

    @include breakpoint("medium") {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall + & {
            float: right;
        }
    }
}

.account #gift-certificate-preview,
.account #gift-certificate-submit {
    margin-bottom: 1rem;
}
