@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/34C539_0_0.eot');
    src: url('../fonts/34C539_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C539_0_0.woff2') format('woff2'),
         url('../fonts/34C539_0_0.woff') format('woff'),
         url('../fonts/34C539_0_0.ttf') format('truetype');
}


@font-face {
    font-family: 'Futura-Book';
    src: url('../fonts/34C539_1_0.eot');
    src: url('../fonts/34C539_1_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/34C539_1_0.woff2') format('woff2'),
         url('../fonts/34C539_1_0.woff') format('woff'),
         url('../fonts/34C539_1_0.ttf') format('truetype');
}
