<svg width="6px" height="10px" viewBox="0 0 9 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path 2</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile/Bon-Builder-Grid" transform="translate(-210.000000, -732.000000)" fill="#E35737">
            <g id="Paging" transform="translate(102.000000, 731.000000)">
                <polygon id="Path-2" transform="translate(112.500000, 8.500000) scale(-1, 1) rotate(-90.000000) translate(-112.500000, -8.500000) " points="120 13 112.4848 4 105 13"></polygon>
            </g>
        </g>
    </g>
</svg>
