<h2 class="page-heading">Popular Gifts</h2>

<ul class="productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" data-slick='{
    "dots": true,
    "infinite": false,
    "mobileFirst": true,
    "slidesToShow": 1,
    "slidesToScroll": 1,
    "arrows": false,
    "autoplay": false,
    "prevArrow": "",
    "nextArrow": "",
    "responsive": [
        {
            "breakpoint": 550,
            "settings": {
                "slidesToScroll": 2,
                "slidesToShow": 2,
                "arrows": false,
                "autoplay": false
            }
        },
        {
            "breakpoint": 770,
            "settings": {
                "slidesToScroll": 3,
                "slidesToShow": 3,
                "dots": false
            }
        }
    ]
}'>
    {{#each products}}
        <li class="product">
            {{>components/products/card theme_settings=../theme_settings customer=../customer}}
        </li>
    {{/each}}
</ul>
