<!-- This one lives on the dashboard: Products > Categories > SHOP BONLINE -->

<div class="shop-bonline-container" style="margin-top: -48px;">
    <a href="/bon-builder/" style="
        display: block;
        text-decoration: none;
    ">
        <img
            title="b-img-bon-repeat.jpg"
            src="https://store-co3p8e8cj0.mybigcommerce.com/product_images/uploaded_images/b-img-bon-repeat.jpg"
            alt="b-img-bon-repeat.jpg"
            width="1440"
            height="300"
        />
        <div class="shop-bonline" style="
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding-top: 29px;
        ">
            <p style="
                font-family:    PTMono-Bold;
                font-size:      18px;
                font-weight:    bold;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color:          #000000;
                -webkit-flex-basis:     30%;
                flex-basis:     30%;
                text-align:     center;
            ">PICK YOUR OWN BONS</p>
            <div style="
                -webkit-flex-basis:     30%;
                flex-basis:     30%;
                text-align:     center;
            ">
                <p class="custom-box" style="
                    font-family:    Futura-Bold;
                    font-size:      20px;
                    letter-spacing: 0.83px;
                    text-transform: uppercase;
                    color:          #000000;
                ">Custom Box Box Box</p>
                <p class="starting" style="
                    font-family:    PTMono-Bold;
                    font-size:      16px;
                    font-weight:    bold;
                    letter-spacing: 0;
                    color:          #E35737;
                ">STARTING AT <span style="
                    font-size:      20px;
                    letter-spacing: -1.67px;
                ">$3.00</span></p>
            </div>
            <p style="
                font-family:    PTMono-Bold;
                font-size:      18px;
                font-weight:    bold;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color:          #000000;
                -webkit-flex-basis:     30%;
                flex-basis:     30%;
                text-align:     center;
            ">Choose 1–32 per box</p>
        </div>
    </a>
</div>
